@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-image: url(../img/image.jpg);
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

main.container {
    background: linear-gradient(45deg, #055ef0, #5478b3);
    min-width: 300px;
    width: 450px;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

main h2 {
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative;
}

main h2::before {
    content: '';
    position: absolute;
    height: 4px;
    width: 25px;
    bottom: 3px;
    left: 0;
    border-radius: 8px;
    background: linear-gradient(45deg, #5478b3, #001c4a);
}

.createUser{
    color: black;
}
.formLogin{
    min-width: 200px;
    width: 100%;
}

#formLogin{
    min-width: 250px;
}

.formCreate{
    min-width: 200px;
    width: 100%;
}

#formCreate{
    min-width: 250px;
}

.label-input {
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    width: 100%;
}
.form-floating{
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    width: 100%;  
}

.btn_signUp {
    margin-top: 2rem;
    padding: 0.4rem;
    width: 100%;
    height: 50px;
    background: linear-gradient(45deg, #5478b3, #001c4a);
    cursor: pointer;
    color: white;
    font-size: 0.9rem;
    font-weight: 300;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.btn_signUp:hover {
    letter-spacing: 0.5px;
    background: linear-gradient(to right, #001c4a, #5478b3);
}

.btn_signIn {
    margin-top: 2rem;
    padding: 0.4rem;
    width: 100%;
    height: 50px;
    background: linear-gradient(45deg, #5478b3, #001c4a);
    cursor: pointer;
    color: white;
    font-size: 0.9rem;
    font-weight: 300;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.btn_signIn:hover {
    letter-spacing: 0.5px;
    background: linear-gradient(to right, #001c4a, #5478b3);
}

.social-media {
    margin: 1rem 0;
}
.link-social-media:not(:first-child){
    margin-left: 10px;
}
.link-social-media .item-social-media {
    transition: background-color .5s;
}
.link-social-media:hover .item-social-media{
    background-color: #58af9b;
    color: #fff;
    border-color: #58af9b;
}
.list-social-media {
    display: flex;
    list-style-type: none;
}
.item-social-media {
    border: 1px solid #bdc3c7;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #95a5a6;
}

.description {
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}
.description-primary {
    color: #fff;
}
.description-second {
    color: #7f8c8d;
}

.error{
    color: red;
}
.success{
    color: green;
}