@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
/*     background-image: url(../img/image.jpg); */
    background-color: green;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

main.container {
    background: linear-gradient(45deg, #055ef0, #5478b3);
    min-width: 300px;
    width: 450px;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

main h2 {
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative;
}

main h2::before {
    content: '';
    position: absolute;
    height: 4px;
    width: 25px;
    bottom: 3px;
    left: 0;
    border-radius: 8px;
    background: linear-gradient(45deg, #5478b3, #001c4a);
}

.createUser{
    color: black;
}

.formLogin{
    min-width: 200px;
    width: 100%;
}

#formLogin{
    min-width: 250px;
}

.formCreate{
    min-width: 200px;
    width: 100%;
}

#formCreate{
    min-width: 250px;
}

.label-input {
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    width: 100%;
}

.form-floating{
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    width: 100%;  
}

.btn_signUp {
    margin-top: 2rem;
    padding: 0.4rem;
    width: 100%;
    height: 50px;
    background: linear-gradient(45deg, #5478b3, #001c4a);
    cursor: pointer;
    color: white;
    font-size: 0.9rem;
    font-weight: 300;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.btn_signUp:hover {
    letter-spacing: 0.5px;
    background: linear-gradient(to right, #001c4a, #5478b3);
}

.btn_signIn {
    margin-top: 2rem;
    padding: 0.4rem;
    width: 100%;
    height: 50px;
    background: linear-gradient(45deg, #5478b3, #001c4a);
    cursor: pointer;
    color: white;
    font-size: 0.9rem;
    font-weight: 300;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.btn_signIn:hover {
    letter-spacing: 0.5px;
    background: linear-gradient(to right, #001c4a, #5478b3);
}

.error{
    color: red;
}
.success{
    color: green;
}

.table{
    background: white;
}

@media (min-width: 540px) {
    body {
        padding-top: 0;
        padding-left: 17rem;
      }
    #sideNav {
      padding-left: 0;
      padding-right: 0;
      text-align: center;
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      width: 20rem;
      height: 100%;
    }
    #sideNav .navbar-collapse {
      display: flex;
      align-items: flex-start;
      flex-grow: 0;
      width: 100%;
      margin-bottom: auto;
    }
    #sideNav .navbar-collapse .navbar-nav {
      flex-direction: column;
      width: 100%;
    }
}

@media (max-width: 540px) {
  /* .navbar.fixed-top {
    position: static;
  } */
  #sideNav {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 100%;
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
}

.nav-item {
    font-weight: 800;
    letter-spacing: 0.03rem;
    text-transform: uppercase;
}

#divTable{
    width: 800px;
}