@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: url("../img/imagemFundo2.jpg") no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.table {
  background: white;
}

.container {
  left: 0;
  width: 100%;
  items-align: left;
}

.table {
  left: 0;
}

.navbar {
  background: black;
}

.shadow-lg {
  background: #83b0f7;
  font-size: 2vw;
  font-weight: 500;
  //font-family: "ROBOTO", sans-serif;
}
.form-select {
  color: white;
}

#divDados {
  margin: 4px;
  padding: 4px;
}
.titles-info {
  color: white;
}
