<!DOCTYPE html>
<html lang="en">
<head>
  <title>Controle de Gastos</title>
  <link rel="stylesheet" href="../../css/style1.css">
</head>
<body>
    <section>
        <div class="form-box">

            <div class="form-value">

                <form action="" autocomplete='false'>
                    <h2>Login</h2>
                    <div class="inputbox">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input type="email"  autocomplete='off'>
                        <label for="">Email</label>
                    </div>

                    <div id="returnErrorEmailLogin" class="returnErrors mb-3"></div>

                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" required>
                        <label for="">Password</label>
                    </div>

                    <div id="returnErrorPasswordLogin" class="returnErrors mb-3"></div>

                    <div class="forget">
                        <label for=""><input type="checkbox">Remember Me  <a href="#">Forget Password</a></label>
                    </div>

                    <button>Log in</button>

                    <div class="register">
                        <p>Don't have a account <a href="#">Register</a></p>
                    </div>

                </form>
            </div>
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>
<!-- <main class="container">

        <div id="formLogin" >

            <h2>Login</h2>
            <form class="formLogin" id="formLogin">
        
                    <label class="label-input" for="">
                        <i class="far fa-envelope icon-modify"></i>
                        <div class="form-floating">
                            <input id="emailLogin" name="email" type="email" class="form-control" placeholder="Email">
                            <label for="inputEmailLogin">Email</label>
                        </div>
                    </label>
                    <div id="returnErrorEmailLogin" class="returnErrors mb-3"></div>
                    

                    <label class="label-input" for="">
                        <i class="fas fa-lock icon-modify"></i>
                        <div class="form-floating">
                            <input id="passwordLogin" type="password" class="form-control" id="inputPasswordLogin" placeholder="Password">
                            <label for="inputPasswordLogin">Password</label>
                        </div>
                    </label>
                    <div id="returnErrorPasswordLogin" class="returnErrors mb-3"></div>

                    <a class="createUser mb-3" href="/createUser/">Create Account</a>
                    
                    <div id="returnSuccessCreate"></div>

                    <button type="button" class="btn_signIn" id="btn_signIn" onclick="{signIn()}">Continue</button>
            
            </form>

        </div>
        
        <script>
            const labelInputEmail = document.querySelector('#emailLogin');
            const returnErrorEmail = document.querySelector('#returnErrorEmailLogin');
            labelInputEmail.addEventListener('click', function() {
                returnErrorEmail.innerHTML = '';
            });

            const labelInputPassword = document.querySelector('#passwordLogin');
            const returnErrorPassword = document.querySelector('#returnErrorPasswordLogin');
            labelInputPassword.addEventListener('click', function() {
                returnErrorPassword.innerHTML = '';
            });
        </script>
        <script src="../../js/validated.js"></script>
</main> -->