<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de Finanças</title>
    <link rel="stylesheet" href="../css/styleMain.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <div class="cabecalhoGeral">

            <div class="Botoes">
                <button type="button"class="buttonHeader">Inicio</button>
                <button type="button" class="buttonHeader">FAQ</button>
                <button type="button" class="buttonHeader">Suporte</button>
                <button href="./login.ejs" type="button" class="buttonHeader">Iniciar Sessão</button>
            </div>
            
            <sectio class="nav">
                <h1>Controle de Finanças</h1>
                <h3 class="span loader">
                    <span class="m">C</span>
                    <span class="m">O</span>
                    <span class="m">N</span>
                    <span class="m">T</span>
                    <span class="m">R</span>
                    <span class="m">O</span>
                    <span class="m">L</span>
                    <span class="m">E</span>
                    <span class="m">&nbsp;</span>
                    <span class="m">D</span>
                    <span class="m">E</span>
                    <span class="m">&nbsp;</span>
                    <span class="m">F</span>
                    <span class="m">I</span>
                    <span class="m">N</span>
                    <span class="m">A</span>
                    <span class="m">N</span>
                    <span class="m">Ç</span>
                    <span class="m">A</span>
                    <span class="m">S</span>

                </h3>
            </sectio>
            
        </div>
        <section>
            <div class="informacao">
                <div class="imagemCentro">
                    <img class="imagemFinanciamento" src="../img/financiamento.png" alt="" srcset="">
                </div>
                <div class="informacaoDescritiva">

                    <div class="textone">
                        <div class="TituloInformacao">
                            <img class="imgContent" src="../img/iconsone.png" alt="" srcset="">
                            <h2>Conecte suas contas e cartões</h2>
                        </div>
                        
                        <p>Saiba para onde o seu dinheiro está indo com nossas 
                        integrações automáticas. Gerencie todos os seus gastos 
                        e evite o cheque especial, o empréstimo com maior taxa 
                        de juros do mercado!</p>

                    </div>
                    <div class="texttwo">

                        <div class="TituloInformacao">
                            <img class="imgContent" src="../img/iconstwo.png" alt="" srcset="">
                            <h2>Monte um planejamento financeiro</h2>
                        </div>

                        <p>Faça orçamentos mensais e mantenha seus gastos sob 
                        controle. Defina alertas para evitar passar do seu limite 
                        de despesas.</p>
                    </div>

                    <div class="texttree">

                        <div class="TituloInformacao">
                            <img class="imgContent" src="../img/iconstree.png" alt="" srcset="">
                            <h2>Conecte suas contas e cartões</h2>
                        </div>

                        <p>Determine metas para alcançar os seus sonhos. Quer 
                        comprar uma casa, fazer uma viagem? Crie objetivos no 
                        app e realize os seus desejos.</p>
                    </div>
                    
                </div>
            </div>
        </section>
            <footer class="footer">
                <div class="container">
                <div class="row">
                    <div>
                    <h6>About</h6>
                    <p class="text-justify">Lorem ipsum dolor sit amet consectetur, 
                        adipisicing elit. Minus consequuntur quibusdam iure earum maiores 
                        nihil omnis doloribus cumque fuga illum vel, laborum iste commodi,
                        doloremque at aut rerum blanditiis? Necessitatibus!</p>
                    </div>

                    <div>
                    <h6>Categories</h6>
                    <ul class="footer-links">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Sobre nós</a></li>
                        <li><a href="#">Trabalhe conosco</a></li>
                        <li><a href="#">Termo e Privacidade</a></li>
                        <li><a href="#">Termo Marktplace</a></li>
                    </ul>
                    </div>

                    <div>
                    <h6>Quick Links</h6>
                    <ul class="footer-links">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Contribute</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Sitemap</a></li>
                    </ul>
                    </div>
                </div>
                <hr>
                </div>
                <div class="containerRedeSocial">
                <div class="redeS">
                    <div>
                    <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by 
                        <a href="#">Controle de Finanças</a>.
                    </p>
                    </div>

                    <div>
                    <ul class="social-icons">
                        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
                    </ul>
                    </div>
                </div>
                </div>
            </footer>
</div>
</body>
</html>