<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/styleMain.css">
    
</head>
<body>
    
<sectio class="nav">
    <h1>Controle de Finanças</h1>
    <h3 class="span loader">
        <span class="m">C</span>
        <span class="m">O</span>
        <span class="m">N</span>
        <span class="m">T</span>
        <span class="m">R</span>
        <span class="m">O</span>
        <span class="m">L</span>
        <span class="m">E</span>
        <span class="m">&nbsp;</span>
        <span class="m">D</span>
        <span class="m">E</span>
        <span class="m">&nbsp;</span>
        <span class="m">F</span>
        <span class="m">I</span>
        <span class="m">N</span>
        <span class="m">A</span>
        <span class="m">N</span>
        <span class="m">Ç</span>
        <span class="m">A</span>
        <span class="m">S</span>
        <!-- <span class="m">G</span>
        <span class="m">I</span>
        <span class="m">E</span>
        <span class="m">S</span> -->
    </h3>
    <div class="nav-container">
        <a class="nav-tab">INICIO</a>
        <a class="nav-tab">CONTATO</a>
        <a class="nav-tab">FAQ</a>
        <a class="nav-tab">LOGIN</a>
        <a class="nav-tab">REDE SOCIAL</a>
        <span class="nav-tab-slider"></span></div>
</sectio>
<main class="main">

</main>
<canvas class="background">
</body>
</html>